VITE_NETWORK=TESTNET
VITE_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
VITE_TOKEN_CONTRACT_ADDRESS=CCJBOURAHBBDFHYNVYOAKPC2T3Z5QDBEMBXG4ENNUTENGMZVI2TOYSKJ
VITE_MARKET_CONTRACT_ADDRESS=CDUZWM4LXMHNEWF45XBM5DBQDKBRKGT5SO6NXF7HSYUIDAWV37YQVOPS
VITE_POOL_CONTRACT_ADDRESS=CBB77X734M3M23M3M3M3M3M3M3M3M3M3M3M3M3M3M3M3M3M3M3M3
